<header>
  <div class="header-container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="../../../assets/logo.svg" alt="logo">
          <h1 class="logo">wisey</h1>
        </a>
        <div class="" >
          <ul class="navbar-nav me-auto mb-lg-0" style="width: 100%;justify-content: end;">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" [routerLink]="['/']">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
