.video-controls {
  width: 100%;

  .controls {
    height: 2.5em;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: flex-start;

    .full-screen {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
