body {
  background-color: #fff!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

mat-slider .mat-slider-track-background {
  background-color: rgba(0, 0, 0, .26) !important;
}

.mat-slider.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  border-color: rgba(0, 0, 0, .26);
}

.scrolltop-button.gray {
  background-color: #006B99 !important;
}

.mat-slider.mat-primary .mat-slider-thumb,
.mat-slider.mat-primary .mat-slider-thumb-label {
  background-color: #006B99 !important;
}

.mat-slider.mat-primary .mat-slider-track-fill,
.mat-slider.mat-primary .mat-slider-thumb,
.mat-slider.mat-primary .mat-slider-thumb-label {
  background-color: #006B99 !important;
}

.mat-slide-toggle-bar {
  background-color: #98989848 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #006b9948 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #006B99 !important;
}

.spinner-border {
  --bs-spinner-width: 3rem !important;
  --bs-spinner-height: 3rem !important;
  --bs-spinner-border-width: 0.40em !important;
}

.mat-tooltip {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}
